<footer class="fullwidth">
  <div class="navigation">
    <div class="footer-column">
      <h4><a href="/">about</a></h4>
    </div>
    <div class="footer-column">
      <h4><a href="/recipes">recipes</a></h4>
    </div>
    <div class="footer-column">
      <h4><a href="/selfie">fun</a></h4>
    </div>
  </div>
  <div class="footer-hero mobile-hide">
    <div class="footer-column">
      <a href="/"><img src="/logo.svg"></a>
      <p>\(\forall\varepsilon>0,\exists\delta>0:\forall{x},(|{x}-{a}| < \delta\rArr|f(x)-L| < \varepsilon)\)
      </p>
    </div>
  </div>
</footer>
