<footer class="fullwidth">
  <div class="navigation">
    <div class="footer-column">
      <h4>about</h4>
      <p>history</p>
      <p>home</p>
    </div>
    <div class="footer-column">
      <h4>recipies</h2>
      <p>fried rice</p>
      <p>ellipse-shaped cookies</p>
      <p>a delicious pi</p>
    </div>
    <div class="footer-column">
      <h4>fun</h2>
      <p>selfie gif maker</p>
    </div>
  </div>
  <div class="footer-hero mobile-hide">
    <div class="footer-column">
      <img src="/logo.svg">
      <p>The Squeeze Theorem is a mathematical theorem that has applications in calculus. If we cannot determine the limit of an function,
        we can "squeeze" it in-between two simpler functions. If these two functions both have the same limit, then our squeezed function
        must also have that limit.
      </p>
    </div>
  </div>
</footer>
