body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    --squeeze-red: #f22844;
    --squeeze-blue: #2a22d7;
}

* {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1 0 auto;
    width: 100%;
}


header.site-header, footer {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    background: #f0f0f0;
    padding: 0.2em;
    z-index: 10;
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 100%;
    overflow-x: hidden;

    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: var(--squeeze-blue);
    }
}

header.site-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: formiga, sans-serif;
    justify-content: center;
    align-items: center;

    img {
        height: 2em;
        filter: drop-shadow(2px 2px 1px #888);
    }

    .left, .right {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: end;
        justify-content: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    .left {
        justify-content: left;
    }
    .right {
        justify-content: right;
        gap: 1em;
    }
}

footer {
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    width: 100%;

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    .footer-column {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;

        p {
            font-size: 0.8em;
        }

        h4 {
            margin: 0;
            padding-bottom: 0.5em;
        }
    }

    .footer-hero {
        width: 40%;
    }

    img {
        width: 10em;
        padding-bottom: 0.5em;
    }
}

@media only screen and (width <= 800px) {
    header.site-header {
        font-size: 1em;
    }
}